html {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "ComicSansMSBold";
    src: url("../fonts/ComicSansMSBold/ComicSansMSBold.eot");
    src: url("../fonts/ComicSansMSBold/ComicSansMSBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ComicSansMSBold/ComicSansMSBold.woff") format("woff"),
    url("../fonts/ComicSansMSBold/ComicSansMSBold.ttf") format("truetype");
    src: url("fonts/ComicSansMSBold.ttf");
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: "ComicSansMSBold", cursive;
    font-size: 13pt;
    background-color: #6a6a6a;
    padding: 10px;
    margin: 0;

}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-image: url("image/myschool.jpg");
    background-size: cover;
    background-position: -1px;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: white;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 11pt;
}
table, th, td {
    border: 2px solid #c0c0c0;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
}
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
#gdz {
    color: gray;
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
.vk {
    text-decoration: none;
    color: black;
}
.photoclass {
    border:  6px #bdbdbd solid;
    display: block;
    margin: auto;
    width: 550px;
    height: 400px;
}
.first {
    background-color:#00bfff;
    color: black;
}
.odnlist {
    text-decoration: none;
    color: #20bcd5;
}
.odnlist:hover {
    color: #c0c0c0
}
.spisok {
    background-color: #fff;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.home {
    text-decoration: none;
    color: #20bcd5;
}
.home:hover {
    color: #c0c0c0
}
#slider { /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
    margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img{ /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 960px; /*максимальнная длинна*/
}
label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: -35% 0 0 0;
    width: 50%;
    height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
    border-radius: 3px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 34px;
    height: 8px;
    background: #bbb;
}

#active{ /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
    top: 1000px;
}

#active label:hover{ /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}
/*Дима я тебя люблю*/ 